[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
	branch = origin/krogoth
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://github.com/giraldeau/meta-raspberrypi.git
	branch = origin/preempt-rt
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "rpi23-gen-image"]
	path = rpi23-gen-image
	url = https://github.com/drtyhlpr/rpi23-gen-image.git
[submodule "linux"]
	path = linux
	url = git@github.com:giraldeau/linux.git
	branch = linux-4.4.y-rt-rebase-rpi
[submodule "raspberrypi-tools"]
	path = raspberrypi-tools
	url = https://github.com/raspberrypi/tools.git
