[submodule "rpi23-gen-image"]
	path = rpi23-gen-image
	url = https://github.com/drtyhlpr/rpi23-gen-image.git
[submodule "linux"]
	path = linux
	url = https://github.com/giraldeau/linux.git
	branch = linux-4.4.y-rt-rebase-rpi
[submodule "raspberrypi-tools"]
	path = raspberrypi-tools
	url = https://github.com/raspberrypi/tools.git
